<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>

  <appSettings>
  
    <!--<add key="ConnectionString" value="mcQKhSSzcMN3ElOWQvxTI+2q2grbndaIX+PNePrO7KCKWhCBf9DS5OC4AHe8/4vy1f3hHTEsOMZCYyeTSHUqTT/tsgdEPZ3NsFwA+N9PFo/jCxOTWV2EGg==" />-->
	  
    <add key="ConnectionString" value="mcQKhSSzcMPiXMmoY0QYVnC7viIsXH61hbs0D6ivkSX4DZ0GKk+oU2nfiCqWvcMbSZcM0SqNn/TzM6w/ERxK/zg7ia8QV3CyKrV/hpnupr6KzkXUqvjRYg=="/>
    <add key="DBName" value="Hasan_Poultry"/>    
    <add key="NotificationPeriod" value="90"/>
    <add key="DefaultCreditLimit" value="0"/>

  </appSettings>

</configuration>
